QMainWindow {
    background-color: #2B2B35;
}

QFrame#sidebar {
    margin: 10px;
    margin-right: 5px !important;
    background-color: #3C3C4C;
    border-right: 1px solid #555;
    border: 2px solid black;
    border-radius: 10px;
}

QFrame#workspace {
    margin: 10px;
    margin-left: 10px !important;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #5A4A4A;
}

QLabel#title {
    color: #E0E0E0;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    qproperty-alignment: AlignCenter;
}

QLabel#theme-label {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
}

QPushButton {
    background-color: #555566;
    color: #FFFFFF;
    border: none;
    padding: 12px;
    border-radius: 4px;
    text-align: left;
    border: 2px solid black;
}

QPushButton:hover {
    background-color: #6A6A7A;
}

QPushButton:pressed {
    background-color: #444454;
}

QCheckBox {
    spacing: 8px;
    color: #FFFFFF;
}

QCheckBox::indicator {
    width: 40px;
    height: 20px;
    border-radius: 10px;
    background: #555566;
    border: 1px solid #FFFFFF;
}

QCheckBox::indicator:checked {
    background: #7A7A8A;
    border: 1px solid #FFFFFF;
}

QCheckBox::indicator:unchecked:hover {
    background: #666678;
}

QCheckBox::indicator:checked:hover {
    background: #8A8A9A;
}

#media-card {
    background-color: #4A4A5A;
    border: 2px solid black;
    border-radius: 10px;
}

#scroll-area {
    background-color: #33334A;
    border: 2px solid black;
    border-radius: 10px;
}

#scroll-widget {
    background-color: #3F3F57;
    border: 2px solid black;
}

#media-details {
    background-color: #5A4A4A;
    border: 2px solid black;
}

#media-description {
    background-color: #5A4A4A;
    border: 2px solid black;
}

#view-title
{
    font-weight: bold;
    font-size: 18px;
}

#media-edit-button {
    text-align: center;
    align-content: center;
    background-color: green;
}
#media-edit-button:hover {    
    background-color: darkgreen;
}

#media-delete-button{
    text-align: center;
    align-content: center;
    background-color: red;
}
#media-delete-button:hover {    
    background-color: darkred;
}

#media-save-button {
    text-align: center;
    align-content: center;
}