QMainWindow {
    background-color: #E6E6E6; /* sfondo leggermente grigio */
}

QFrame#sidebar {
    margin: 10px;
    margin-right: 5px !important;
    background-color: #D9D9D9; /* grigio chiaro più caldo */
    border-right: 1px solid #BBB;
    border: 2px solid black;
    border-radius: 10px;
}

QFrame#workspace {
    margin: 10px;
    margin-left: 10px !important;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #F5F5F5; /* bianco sporco, più morbido */
}

QLabel#title {
    color: #333333; /* testo scuro ma non nero pieno */
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    qproperty-alignment: AlignCenter;
}

QLabel#theme-label {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
}

QPushButton {
    background-color: #C8D0C8; /* verde/grigio tenue */
    color: #222222;
    border: none;
    padding: 12px;
    border-radius: 4px;
    text-align: left;
    border: 2px solid #999999;
}

QPushButton:hover {
    background-color: #B0B8B0;
}

QPushButton:pressed {
    background-color: #A0A8A0;
}

QCheckBox {
    spacing: 8px;
    color: #222222;
}

QCheckBox::indicator {
    width: 40px;
    height: 20px;
    border-radius: 10px;
    background: #C8D0C8;
    border: 1px solid #888888;
}

QCheckBox::indicator:checked {
    background: #A0B0A0;
    border: 1px solid #666666;
}

QCheckBox::indicator:unchecked:hover {
    background: #D0D8D0;
}

QCheckBox::indicator:checked:hover {
    background: #90A090;
}

#media-card {
    background-color: #E0E0E0; /* grigio chiaro morbido */
    border: 2px solid #999999;
    border-radius: 10px;
}

#scroll-area {
    background-color: #F0F0F0; /* leggermente grigio */
    border: 2px solid #999999;
    border-radius: 10px;
}

#scroll-widget {
    background-color: #E8E8E8;
    border: 2px solid #999999;
}

#media-details {
    background-color: #F5F5F5;
    border: 2px solid black;
}

#media-description {
    background-color: #F5F5F5;
    border: 2px solid black;
}

#view-title
{
    font-weight: bold;
    font-size: 18px;
}