QMainWindow {
    background-color: #f5f5f5;
}

QFrame#sidebar {
    margin: 10px;
    margin-right: 5px !impor;
    background-color: #e0e0e0;
    border-right: 1px solid #ccc;
    border: 2px solid black;
    border-radius: 10px;
}

QFrame#workspace {
    margin: 10px;
    margin-left: 10px !important;
    border: 2px solid black;
    border-radius: 10px;
}

QLabel#title {
    color: #2196F3;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    qproperty-alignment: AlignCenter;
}

QLabel#theme-label {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}

QPushButton {
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 4px;
    text-align: left;
}

QPushButton:hover {
    background-color: #1976D2;
}

QPushButton:pressed {
    background-color: #1565C0;
}

QCheckBox {
    spacing: 8px;
    color: #000000;
}

QCheckBox::indicator {
    width: 40px;
    height: 20px;
    border-radius: 10px;
    background: #cccccc;
    border: 1px solid #999999;
}

QCheckBox::indicator:checked {
    background: #2196F3;
    border: 1px solid #1976D2;
}

QCheckBox::indicator:unchecked:hover {
    background: #bbbbbb;
}

QCheckBox::indicator:checked:hover {
    background: #1976D2;
}